$gray-primary: rgb(71, 71, 71);

::-webkit-scrollbar {
  width: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.headerRay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0vh 0 4vh 0;
  padding: 1vh;
  background-color: white;
  box-shadow: 5px 5px 5px $gray-primary;

  & h1 {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 50vw;
    transform: translate(-50%);
  }

  & nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
  }

  & .logoHeader {
    max-width: 5vw;
    margin: 0 1vh;
  }
}

.allPosts {
  max-width: 50vw;
  margin-top: 12vh;
  overflow: hidden;

  & .posts {
    border: 0.5px solid $gray-primary;
    padding: 1vh 1vw;
    margin: 1vh 0;
    border-radius: 5px;

    & h3 {
      text-align: center;
      font-size: 1.3em;
    }
  }

  & #postImage {
    width: 100%;
    box-shadow: 5px 5px 5px $gray-primary;
    border-radius: 5px;
  }
}

#login {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: relative;

  & #loginBackground img {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
  }
}

#backframeLogin {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  background-color: rgba(12, 12, 160, 0.7);
  border-radius: 20px;
  z-index: 1;

  & form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    & input:nth-child(1),
    input:nth-child(2) {
      position: relative;
      width: 80%;
      margin: 2vh 1vw;
      height: 40px;
      border-radius: 10px;
      text-align: center;
      font-size: 1em;
    }

    & input:nth-child(3) {
      width: 90%;
      position: fixed;
      bottom: 2vh;
      height: 40px;
      border-radius: 10px;
    }

    & .signup {
      color: white;
      font-weight: 700;

      &:hover {
        color: whitesmoke;
        text-decoration: underline;
        font-weight: 900;
        transform: scale(1.05);
      }
    }
  }
}

#profilePictureImage {
  height: 200px;
  width: 200px;
}

#profile {
  background-color: rgb(151, 151, 151);
}

#profHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
}

#leftAbout {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  & h1 {
    font-size: 30px;
    font-weight: 200;
  }

  & button {
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 8px;
    color: black;
    background-color: white;
  }

  & button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 1s;
    transition-timing-function: ease;
  }
}

#centerAbout {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
  }
}

#rightAbout {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  & h3 {
    font-size: 20px;
    font-weight: 300;
  }
}

#profPosts {
  display: flex;
  justify-content: center;
}

.commentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 5vh;
  max-height: 20vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  padding-right: 20%;
}

.singleComment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid .5px lightgray;
  margin: .5vh 0;

  & p {
    width: 95%;
    text-align: left;
  }

  & button {
    width: 5%;
    animation: 300ms ease;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

.createComment {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vh 0;

  & input:nth-child(1) {
    width: 80%;
    padding: .5vh .5vw;
    font-size: 1em;
  }

  & input:nth-child(2) {
    width: 20%;
    color: white;
    background-color: $gray-primary;
    padding: .5vh .5vw;
    font-size: 1em;
  }
}

.friendList {
  position: fixed;
  left: 7vw;
  top: 50vh;
  transform: translateY(-50%);
  height: 50vh;
  width: 10vw;
  overflow-x: hidden;
  overflow-y: scroll;
  border: solid 1px $gray-primary;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  

  & .indUser {
    margin: 0.5vh 0.5vw;
    padding: 0;
    width: 7vw;
    border-bottom: .5px solid lightgray;

    & .endfix {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: .5vh;
    }
  }

  & img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  & p {
    margin: 0;
    padding: 0;
    font-size: .8em;
  }
}