$gray-primary: rgb(71, 71, 71);
::-webkit-scrollbar {
  width: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.headerRay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0vh 0 4vh 0;
  padding: 1vh;
  background-color: white;
  box-shadow: 1px 1px 1px $gray-primary;
  & #fontLogo {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 50vw;
    transform: translate(-50%);
    width: 20vw;
    height: 10vh;
  }
  & nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
  }
  & .logoHeader {
    max-width: 5vw;
    margin: 0 1vh;
  }
  & .navItem {
    transition: 0.3s ease;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #222222;
    border-bottom: 4px solid #222222;
    /* padding: 20px 0; */
    margin: 0 20px;
  }
  & .navItem:hover {
    border-top: 4px solid rgb(226, 99, 61);
    border-bottom: 4px solid rgb(226, 99, 61);
    padding: 6px 0;
    color: rgb(226, 99, 61);
  }
}
.allPosts {
  max-width: 50vw;
  margin-top: 12vh;
  overflow: hidden;
  & .posts {
    border: 0.5px solid $gray-primary;
    padding: 1vh 1vw;
    margin: 1vh 0;
    border-radius: 5px;
    & #threeCircles {
      border: none;
      box-shadow: none;
      background-color: white;
      cursor: pointer;
    }

    & h3 {
      text-align: center;
      font-size: 1.3em;
    }
  }
  & #postImage {
    width: 100%;
    box-shadow: 5px 5px 5px $gray-primary;
    border-radius: 5px;
  }
}
#login {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: relative;
  & #loginBackground img {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
  }
}
#backframeLogin {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  background-color: rgba(12, 12, 160, 0.7);
  border-radius: 20px;
  z-index: 1;
  & form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    & input {
      border: none;
    }

    & input:nth-child(1),
    input:nth-child(2) {
      position: relative;
      width: 80%;
      margin: 2vh 1vw;
      height: 40px;
      border-radius: 10px;
      text-align: center;
      font-size: 1em;
    }
    & input:nth-child(3) {
      width: 90%;
      position: fixed;
      bottom: 2vh;
      height: 40px;
      border-radius: 10px;
    }
    & .signup {
      color: white;
      font-weight: 700;
      &:hover {
        color: whitesmoke;
        text-decoration: underline;
        font-weight: 900;
        transform: scale(1.05);
      }
    }
  }
}
#profilePictureImage {
  height: 200px;
  width: 200px;
}
#profile {
  background-color: rgb(151, 151, 151);
  max-width: 50vw;
  padding-top: 12vh;
  padding-bottom: 5vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & #profHeader {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
  }
  & #profPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    background-color: white;
    border-radius: 5px;
    margin: 1vh 1vw;
    & #profPost {
      max-width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1vh 1vw;
      & p {
        margin: 0;
        padding: 0;
        display: inline-block;
      }
      & #profImageOnPost {
        max-width: 10%;
        border-radius: 5px;
        display: inline-block;
      }
      & #postImageOnProf {
        max-width: 100%;
        border-radius: 5px;
      }
    }
  }
}
.followers {
  position: fixed;
  right: 7vw;
  top: 50vh;
  transform: translateY(-50%);
  height: 50vh;
  width: 15vw;
  overflow-x: hidden;
  overflow-y: scroll;
  border: solid 1px $gray-primary;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  & .followersProfile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & img {
      display: inline-block;
      width: 50%;
    }
    & h6 {
      display: inline-block;
      width: 50%;
    }
  }
}
#leftAbout {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  & h1 {
    font-size: 30px;
    font-weight: 200;
  }
  & button {
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 8px;
    color: black;
    background-color: white;
  }
  & button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 1s;
    transition-timing-function: ease;
  }
}
#centerAbout {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
  }
}
#rightAbout {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  & h3 {
    font-size: 20px;
    font-weight: 300;
  }
  & p {
  }
}
.commentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 5vh;
  max-height: 20vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  padding-right: 20%;
}
.singleComment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.5px lightgray;
  margin: 0.5vh 0;
  & p {
    width: 95%;
    text-align: left;
  }
  & button {
    width: 5%;
    animation: 300ms ease;
    &:hover {
      background-color: red;
      color: white;
    }
  }
}
.createPost {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 50vw;
  border-radius: 5px;
  border: solid 0.5px $gray-primary;
  & input {
    width: 90%;
    height: 10vh;
    font-size: 1.2em;
  }
  & .submit {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 5vh;
    width: 91%;
    margin: 0;
    padding: 0;
  }
}
.createComment {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vh 0;
  & input:nth-child(1) {
    width: 80%;
    padding: 0.5vh 0.5vw;
    font-size: 1em;
  }
  & input:nth-child(2) {
    width: 20%;
    color: white;
    background-color: $gray-primary;
    padding: 0.5vh 0.5vw;
    font-size: 1em;
  }
}

.friendList {
  position: fixed;
  left: 3vw;
  top: 50vh;
  transform: translateY(-50%);
  height: 50vh;
  width: 20vw;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  & #belowOtherUsers {
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px $gray-primary;
    border-radius: 5px;
    width: 90%;
    & .indUser {
      display: flex;
      flex-direction: row;
      height: 100px;
      margin: 10px;
      & .imageContainer {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          border-radius: 1000px;
          background-color: rgb(99, 99, 99);
        }
      }

      & .endFix {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        & #otherUserTag {
          color: black;
        }
        & #otherUsername {
          font-size: 10px;
          color: gray;
        }
      }
    }
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px -5px 5px $gray-primary;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  flex-direction: column;
  text-align: center;
  font-family: "Karla", sans-serif;
  & #hello {
    font-size: 40px;
    margin: 50px;
  }

  & #myName {
    height: 80px;
    color: #ce1e62;
    font-size: 60px;
    border: none;
    box-shadow: none;
    outline: none;
    text-align: center;
    font-family: "Karla", sans-serif;
  }

  & .curtainup {
    color: black; /* button text color */
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 4px solid #eee;
    letter-spacing: 0.0625em;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 2;
    font-family: "Karla", sans-serif;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none; /* remove underline if using A instead of BUTTON tag */
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: none;
    border: none;
    & #arrow {
      color: rgb(255, 255, 255);
      cursor: pointer;
      height: 60px;
      width: 80px;
    }
  }

  .curtainup:before,
  .curtainup:after {
    transform-origin: center center;
    transform: scale(1, 0);
  }
  .curtainup:hover:before,
  .curtainup:hover:after {
    transform: scale(1);
    border-radius: 0;
  }
}

.buttonfx:before,
.buttonfx:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #ce1e62; /* onhover background color */
  z-index: -1;
  transform: translate3D(
    0,
    -100%,
    0
  ); /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}

.buttonfx:before {
  background: #fafcd6; /* button default background color */
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.buttonfx :hover {
  color: white;
  font-size: 50px;
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}
